#myform {
  margin-top: 25px;
}

#navtext {
  font-family: "Pacifico";
  font-size: 1.5em;
  color: black;
}

#section {
  margin-top: 3%;
}

.welcometext,
.registertext {
  font-family: "Poppins";
  margin-top: 20px;
  font-weight: bolder;
  font-size: 1.8em;
  color: #6f4a8e;
}

#login-btn {
  width: 30%;
  float: right;
  margin-top: 10px;
}

.button {
  font-family: "Quicksand";
}

#register-btn {
  width: 100%;
  margin-top: 10px;
}
#viewmore-btn {
  margin-top: 10px;
}

.label {
  font-family: "Pacifico";
  font-size: 1.2em;
}

input,
textarea,
select {
  font-family: "Quicksand";
}

.mainhead {
  font-family: "Poppins";
  margin-top: 20px;
  font-weight: bolder;
  font-size: 1.8em;
  color: #6f4a8e;
  margin-bottom: 1%;
}

.clg-name {
  font-family: "Poppins";
  font-weight: bolder;
  font-size: 1.8em;
  color: #6f4a8e;
  margin-bottom: 1%;
}

.col-head {
  font-family: "Poppins";
  font-weight: bolder;
  font-size: 1.3em;
  color: black;
}

.col-text {
  font-family: "Quicksand";
  margin-top: 10px;
  font-size: 0.8em;
  font-weight: normal;
}
#logout {
  font-family: "Quicksand";
}

.clg-desc {
  color: black;
  font-family: "Lato";
  font-weight: bold;
  letter-spacing: 0.3px;
  font-size: 1.1rem;
}
.side-align {
  padding-left: 2%;
  padding-right: 2%;
}
.clg-details {
  margin-top: 2%;
}
#filter-label {
  font-family: "Poppins";
  font-size: 1.2rem;
  font-weight: lighter;
}

.space-tags {
  margin-bottom: 1%;
}

.exam-name {
  font-family: "Poppins";
  font-weight: bolder;
  font-size: 1.8em;
  color: #6f4a8e;
  margin-bottom: 1%;
}

.exam-desc {
  color: black;
  font-family: "Lato";
  font-weight: bold;
  letter-spacing: 0.3px;
  font-size: 1.1rem;
}

.exam-details {
  margin-top: 2%;
}

.exam-cutoff {
  margin-left: 1%;
  font-weight: bold;
}

.clg-cutoff {
  margin-left: 1%;
  font-weight: bold;
}

.clg-exam {
  margin-left: 1%;
  font-weight: bold;
}

.bookmark {
  font-family: "Quicksand";
  float: right;
}

.bookmark a {
  color: white;
}

.bookmark a:hover {
  color: black;
}

.desc-tags {
  font-family: "Quicksand";
}

.message {
  font-family: "Quicksand";
}

#failtext {
  font-family: Pacifico;
  color: black;
  font-size: 1.3em;
}
