
#myform{
    margin-top: 25px;
}

#navtext{
    font-family: 'Pacifico';
    font-size: 1.5em;
    color: black;
}

#section{
    margin-top: 3%;
}

.welcometext,.registertext{
    font-family: 'Poppins';
    margin-top: 20px;
    font-weight: bolder;
    font-size: 1.8em;
    color: #6f4a8e;
}

#login-btn{
    width: 30%;
    float: right;
    margin-top: 10px;
}

.button{
    font-family: 'Quicksand';
}

#register-btn{
    width: 100%;
    margin-top: 10px;
}
#viewmore-btn{
    width: 10%;
    float: right;
    margin-top: 10px;
}

.label{
    font-family: 'Pacifico';
    font-size: 1.2em;
}

input, textarea, select {
    font-family: 'Quicksand';
}

.mainhead{
    font-family: 'Poppins';
    margin-top: 20px;
    font-weight: bolder;
    font-size: 1.8em;
    color: #6f4a8e;
    margin-bottom: 3%;
}

.col-head{
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: 1.3em;
    color: black;
}

.col-text{
    font-family: 'Quicksand';
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: normal;
}
#logout{
    font-family: 'Quicksand';
}
.list-item{
    padding: 10px;
    color: black;
    font-family: 'Lato';
    font-size: 1.1em;
}
.list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.list-item:hover{
    color: white;
    background-color: #6f4a8e;
}
.modal-head{
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: 1.3em;
    color: black;
}
.clg-text{
    color: black;
    font-family: 'Lato';
    font-weight: bold;
    letter-spacing: 0.3px;
    font-size: 1.1rem;
}
.side-align{
    padding-left: 2%;
    padding-right: 2%;
}